.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
*.txt
img/youtube.svg
img/twitter.svg
img/star.svg
img/polygon.svg
img/logo-sedona.svg
img/logo-htmlacademy.svg
img/intro-welcome.svg
img/intro-mask.svg
img/icon-up-dir.svg
img/icon-down-dir.svg
img/icon-3.svg
img/icon-2.svg
img/icon-1.svg
img/filter-button.svg
img/fb-icon.svg
img/checkbox-on.svg
img/checkbox-off.svg
img/calendar.svg
img/background-photo.jpg
